<div id="doc-header">
  {{> header}}
</div>

<div class="page-main">
	<div id="doc-main">    
 	{{{body}}}
  </div> <!-- /.doc-main -->
</div> <!-- /.page-main -->


<div id="doc-footer">
  {{> footer}}
</div>


